// Helvetica
@font-face{
  font-family:"Helvetica_400";
  src:url("./fonts/hvtc400.eot?#iefix");
  src:url("./fonts/hvtc400.eot?#iefix") format("eot"),
      url("./fonts/hvtc400.woff2") format("woff2"),
      url("./fonts/hvtc400.woff") format("woff"),
      url("./fonts/hvtc400.ttf") format("truetype"),
      url("./fonts/hvtc400.svg") format("svg");
}
@font-face{
  font-family:"Helvetica_700";
  src:url("./fonts/hvtc700.eot?#iefix");
  src:url("./fonts/hvtc700.eot?#iefix") format("eot"),
      url("./fonts/hvtc700.woff2") format("woff2"),
      url("./fonts/hvtc700.woff") format("woff"),
      url("./fonts/hvtc700.ttf") format("truetype"),
      url("./fonts/hvtc700.svg") format("svg");
}
@font-face{
  font-family:"Helvetica_900";
  src:url("./fonts/hvtc900.eot?#iefix");
  src:url("./fonts/hvtc900.eot?#iefix") format("eot"),
      url("./fonts/hvtc900.woff2") format("woff2"),
      url("./fonts/hvtc900.woff") format("woff"),
      url("./fonts/hvtc900.ttf") format("truetype"),
      url("./fonts/hvtc900.svg") format("svg");
}

// Museo
@font-face{
  font-family:"Museo_900";
  src:url("./fonts/museo900.eot?#iefix");
  src:url("./fonts/museo900.eot?#iefix") format("eot"),
      url("./fonts/museo900.woff2") format("woff2"),
      url("./fonts/museo900.woff") format("woff"),
      url("./fonts/museo900.ttf") format("truetype"),
      url("./fonts/museo900.svg") format("svg");
}

// Chinese set
$font-zh-small: "Helvetica_400", "Microsoft YaHei", "SimHei", "Helvetica", "Arial", sans-serif;
$font-zh-medium: "Helvetica_700", "Microsoft YaHei", "SimHei", "Helvetica", "Arial", sans-serif;
$font-zh-bold: "Helvetica_900", "Microsoft YaHei", "SimHei", "Helvetica", "Arial", sans-serif;
$font-zh-title: "Museo_900", "Microsoft YaHei", "SimHei", "Helvetica", "Arial", sans-serif;

// Japanese set
$font-ja-small: "Helvetica_400", "Meiryo UI", "Meiryo", "MS UI Gothic", "MS PGothic", "Helvetica", "Arial", sans-serif;
$font-ja-medium: "Helvetica_700", "Meiryo UI", "Meiryo", "MS UI Gothic", "MS PGothic", "Helvetica", "Arial", sans-serif;
$font-ja-bold: "Helvetica_900", "Meiryo UI", "Meiryo", "MS UI Gothic", "MS PGothic", "Helvetica", "Arial", sans-serif;
$font-ja-title: "Museo_900", "Meiryo UI", "Meiryo", "MS UI Gothic", "MS PGothic", "Helvetica", "Arial", sans-serif;

// Korean set
$font-ko-small: "Helvetica_400", "Nanum Barun Gothic", "Nanum Gothic", "NanumGothic", "나눔고딕", "Malgun Gothic", "돋움", "Dotum", "Helve";
$font-ko-medium: "Helvetica_700", "Nanum Barun Gothic", "Nanum Gothic", "NanumGothic", "나눔고딕", "Malgun Gothic", "돋움", "Dotum", "Helve";
$font-ko-bold: "Helvetica_900", "Nanum Barun Gothic", "Nanum Gothic", "NanumGothic", "나눔고딕", "Malgun Gothic", "돋움", "Dotum", "Helve";
$font-ko-title: "Museo_900", "Nanum Barun Gothic", "Nanum Gothic", "NanumGothic", "나눔고딕", "Malgun Gothic", "돋움", "Dotum", "Helve";


// Body small
@mixin small-fonts {
  font-family: "Helvetica_400";
  &:lang(ja) {
    font-family: $font-ja-small;
  }
  &:lang(ko-KR) {
    font-family: $font-ko-small;
  }
  &:lang(zh-hans) {
    font-family: $font-zh-small;
  }
}

// Body normal
@mixin medium-fonts {
  font-family: "Helvetica_700";
  &:lang(ja) {
    font-family: $font-ja-medium;
  }
  &:lang(ko-KR) {
    font-family: $font-ko-medium;
  }
  &:lang(zh-hans) {
    font-family: $font-zh-medium;
  }
}

// Body bold
@mixin bold-fonts {
  font-family: "Helvetica_900";
  &:lang(ja) {
    font-family: $font-ja-bold;
  }
  &:lang(ko-KR) {
    font-family: $font-ko-bold;
  }
  &:lang(zh-hans) {
    font-family: $font-zh-bold;
  }
}

// Titles
@mixin title-fonts {
  font-family: "Museo_900";
  &:lang(ja) {
    font-family: $font-ja-title;
  }
  &:lang(ko-KR) {
    font-family: $font-ko-title;
  }
  &:lang(zh-hans) {
    font-family: $font-zh-title;
  }
}